In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, accuracy_score, roc_auc_score, confusion_matrix, precision_score, recall_score,

In [7]:
df = pd.read_csv("data.csv")

,time,channel1,channel2,channel3,channel4,channel5,channel6,channel7,channel8,class,label
0,1,0.00001,-0.00002,-0.00001,-0.00003,0.00000,-0.00001,0.00000,-0.00001,0,1
1,5,0.00001,-0.00002,-0.00001,-0.00003,0.00000,-0.00001,0.00000,-0.00001,0,1
2,6,-0.00001,0.00001,0.00002,0.00000,0.00001,-0.00002,-0.00001,0.00001,0,1
3,7,-0.00001,0.00001,0.00002,0.00000,0.00001,-0.00002,-0.00001,0.00001,0,1
4,8,-0.00001,0.00001,0.00002,0.00000,0.00001,-0.00002,-0.00001,0.00001,0,1
...,...,...,...,...,...,...,...,...,...,...,...
4237902,50962,0.00001,-0.00001,-0.00002,-0.00004,-0.00012,0.00000,0.00002,0.00002,0,36
4237903,50963,0.00001,-0.00001,-0.00002,-0.00004,-0.00012,0.00000,0.00002,0.00002,0,36
4237904,50964,0.00001,-0.00001,-0.00002,-0.00004,-0.00012,0.00000,0.00002,0.00002,0,36
4237905,50965,0.00001,-0.00001,-0.00002,-0.00004,-0.00012,0.00000,0.00002,0.00002,0,36
4237906,50966,0.00001,-0.00001,-0.00002,-0.00004,-0.00012,0.00000,0.00002,0.00002,0,36

Clean up data
1. remove class 0
2. sort data by classes
3. ignore label?

In [23]:
class_idx = df.loc[:, 'class'].values != 0
new_df = df[class_idx].reset_index()

X_channel = new_df.iloc[:, 2:10]
labels = new_df.iloc[:, 11].values

X_channel

,channel1,channel2,channel3,channel4,channel5,channel6,channel7,channel8
0,-0.00001,0.00000,-0.00001,0.00000,0.00000,-0.00001,-0.00001,0.00001
1,-0.00001,-0.00002,0.00000,-0.00001,-0.00001,-0.00001,-0.00003,-0.00002
2,-0.00001,-0.00002,0.00000,-0.00001,-0.00001,-0.00001,-0.00003,-0.00002
3,-0.00001,-0.00002,0.00000,-0.00001,-0.00001,-0.00001,-0.00003,-0.00002
4,-0.00001,-0.00002,0.00000,-0.00001,-0.00001,-0.00001,-0.00003,-0.00002
...,...,...,...,...,...,...,...,...
1512745,0.00009,0.00001,0.00003,0.00001,-0.00003,-0.00008,0.00004,0.00000
1512746,0.00009,0.00001,0.00003,0.00001,-0.00003,-0.00008,0.00004,0.00000
1512747,0.00009,0.00001,0.00003,0.00001,-0.00003,-0.00008,0.00004,0.00000
1512748,0.00014,0.00003,-0.00001,0.00001,-0.00012,0.00006,-0.00007,-0.00013
1512749,0.00014,0.00003,-0.00001,0.00001,-0.00012,0.00006,-0.00007,-0.00013